.outer-card {
    background-color: #171717;
    width: 200px;
    height: 280px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: #171717;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 20px;
    object-fit: cover;
}
.outer-card:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.delete-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.delete-icon:hover {
    display: none;
}
.artist-image > img {
    max-width: 95%;
    max-height: 200px;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.artist-image {
    border-radius: 5px;
}

.artist-info {
    display: flex;
    justify-content: center;
    text-align: center;
}
