@media (max-width: 768px) {
    .Footer {
        position: fixed;
        bottom: 0;
        height: 90px;
        width: 100%;
        background-color: #282828;
        padding: 20px;
    }
}

.Footer {
    position: fixed;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: #282828;
    padding: 20px;
}

