@media only screen and (max-width: 768px) {
    .PlayerBody {
        
        height: 100vh;
        width: 100% !important;
        color: white;
        background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
        overflow-y: overlay;
    }
  }
.PlayerBody {
    display: flex;
}