@media (max-width: 768px) {
  .Sidebar {
    display: none;
  }

  .Sidebar.expanded{
    height: 100vh;
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #040404 !important;
  }
}
.none {
  display: none;
}

.Sidebar {
  height: 100vh;
  flex: 0.2;
  color: white;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #040404;
}


.SidebarLogo {
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.SidebarTitle {
    margin-left: 10px !important;
    padding: 5px !important;
    font-size: 12px !important;
}